<mat-toolbar color="primary" class="app-toolbar no-print" [class.transitioning]="isTransitioning">
  <mat-toolbar-row>
    <a class="nav-link home" href="/">
      Timer
    </a>
    <div class="toolbar-external-icons-container">
      <a href="https://github.com/MamoruMachida/timer" title="GitHub" aria-label="Angular on github">
        <mat-icon svgIcon="logos:github"></mat-icon>
      </a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container"  role="main">

  <main class="sidenav-content" role="main">
    main
  </main>

  <button mat-button class="hamburger" (click)="sidenav.toggle()" title="Toggle Queue">
    <mat-icon svgIcon="menu"></mat-icon>
  </button>

  <mat-sidenav [ngClass]="{'collapsed': !isSideBySide}" #sidenav class="sidenav" [mode]="mode" [opened]="isOpened" position="end">
    sidenav
  </mat-sidenav>

</mat-sidenav-container>
