// HAMBURGER BUTTON
.hamburger.mat-icon-button {
  height: 64px;
  width: 64px;
  border-radius: 100px;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;

  @media (max-width: 480px) {
    min-width: 15%;
  }

  &:not(.starting) {
    transition-duration: 0.4s;
    transition-property: color, margin;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  &:hover {
    color: $lightgray;
  }

  & .mat-icon {
    position: inherit;
    font-size: 32px;
  }
}

.sidenav {
  padding-top: 10px;
  form {
    font-size: 40px;
    mat-form-field {
      width: 64px;
    }
    .mat-form-field-infix {
      border-top: 0 solid transparent;
    }
    .mat-form-field-appearance-legacy .mat-form-field-wrapper {
      padding-bottom: 0;
    }
    .mat-form-field-underline {
      position: static;
    }
  }
  .add-timer-option-button {
    width: 81%;
    height: 50px;
    color: $mediumgray;
    border-radius: 4px;
    margin: 5px 30px;
  }
}
